/node_modules/
/.git/
/tmp
/public/hot
/public/assets/images.zip
/public/assets/__MACOSX
/public/assets/images/kyc
/public/assets/images/support
/public/assets/images/user
/public/data
/public/fonts
/public/images
/public/storage
/public/js
/public/css
/public/vendors
/storage/*.key
/storage/logs/*.log
/storage/logs/*
/storage/profile-photos/
/storage/public/
/storage/app/livewire-tmp/
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/views/*
/bootstrap/cache/*.php
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
supervisord.log
supervisord.pid
.DS_Store
resources/src/index_dev.js
build.list.js
cdn_status.js
cdn.config.js
*-dev.js
